* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #ccc;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem;
}

a:hover {
  text-shadow: 3px 3px black;
}

.practice-links {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
