* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #ccc;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: transparent;
  text-transform: uppercase;
  font-family: Tahoma, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 2px;
  background: conic-gradient(
    red 6deg,
    orange 6deg 18deg,
    yellow 18deg 45deg,
    green 45deg 110deg,
    blue 110deg 200deg,
    purple 200deg
  );
  background-clip: text;
  overflow: hidden;
}
